.PersonCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20%;
  margin: 30px;
  text-align: center;
  font-family: arial;
  overflow: hidden;
  border-radius: 20px;
  background-color: #f1f1f1;
}

.PersonCard .title {
  color: grey;
  font-size: 18px;
  white-space: nowrap;
  font-size: 0.8em;
}

.PersonCard img {
  width: 100%;
}

.PersonCard h1 {
  white-space: nowrap;
  font-size: 0.8em;
}

.PersonCard button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.PersonCard a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.PersonCard button:hover,
a:hover {
  opacity: 0.7;
}
.csv-card {
  width: calc(100% / 3 - 20px); /* 3 cards per row, with 20px spacing between each card */
  margin: 10px;
  text-align: center;
  padding:10px;
}